.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Custom arrow styles */
.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px; /* Adjust arrow width as needed */
  height: 40px; /* Adjust arrow height as needed */
  background-color: #7926a1; /* Change to your desired color */
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-prev-arrow {
  left: -60px; /* Adjust the gap between slides */
}

.custom-next-arrow {
  right: -60px; /* Adjust the gap between slides */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

